<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NativeDisplaySample"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="468-RZW-ZK6Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="012-b64" />
        <meta-data
            android:name="CLEVERTAP_REGION"
            android:value="sk1-staging-21"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NativeDisplaySample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
