<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>CT Display Lab</string>
	<key>CleverTapRegion</key>
	<string>sk1-staging-25</string>
	<key>CleverTapToken</key>
	<string>012-b64</string>
	<key>CleverTapAccountID</key>
	<string>468-RZW-ZK6Z</string>
</dict>
</plist>
